<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Upload Preview</title>
    <script src="{{ url_for('static', filename='jsfeat.js') }}"></script>
    <style>
        #c {
            display: block;
            margin: auto;
        }

        #container {
            width: 100%;
            max-width: 1280px;
            padding: 0;
            margin: auto;
        }

        button {
            width: 40%;
            font-size: 4em;
            display: inline-block;
        }

        .buttons {
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }
    </style>
    <script>
'use strict';

window.onload = function() {
    // Constants
    var LOW_THRES = 20;
    var HIGH_THRES = 90;
    var KERNEL = 5 << 1;

    // Elements
    var videoElement = document.createElement('video');
    videoElement.autoplay = true;
    videoElement.muted = true;
    var switchElement = document.querySelector('button#switch');
    var captureElement = document.querySelector('button#capture');
    var canvas = document.querySelector('#c');

    // Variables
    var videoDevices = [];
    var currentDevice = 0;
    var ctx = canvas.getContext('2d');
    var vw = 0;
    var vh = 0;

    // Set up
    var img_u8;

    window.video = videoElement;

    // Start of running
    navigator.mediaDevices
        .enumerateDevices()
        .then(gotDevices)
        .then(getStream)
        .then(draw)
        .catch(handleError);

    // Functions
    function gotDevices(deviceInfos) {
        for (var i = 0; i < deviceInfos.length; i++) {
            var deviceInfo = deviceInfos[i];
            if (deviceInfo.kind === 'videoinput') {
                videoDevices.push(deviceInfo.deviceId);
            }
        }
    }

    function getStream() {
        if (window.stream) {
            window.stream.getTracks().forEach(function (track) {
                track.stop();
            });
        }

        var constraints = {
            video: {
                deviceId: {exact: videoDevices[currentDevice]}
                // TODO: Resolution finding (https://webrtchacks.com/getusermedia-resolutions-3/?)
            }
        };

        navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);
    }

    function gotStream(stream) {
        // Set stream and start
        window.stream = stream;
        videoElement.srcObject = stream;
        videoElement.play();
    }

    function switchSource() {
        currentDevice = (currentDevice + 1) % videoDevices.length;
        getStream();
    }

    function handleError(error) {
        console.log('Error: ', error);
    }

    function adjust() {
        vw = videoElement.videoWidth;
        vh = videoElement.videoHeight;
        canvas.width = vw;
        canvas.height = vh;
        img_u8 = new jsfeat.matrix_t(vw, vh, jsfeat.U8C1_t);
    }

    function draw() {
        requestAnimationFrame(draw);

        if (vw === 0) adjust();

        ctx.clearRect(0, 0, vw, vh);

        ctx.drawImage(videoElement, 0, 0, vw, vh);
        var imgData = ctx.getImageData(0, 0, vw, vh);
        // Manipulate gray -> gaussian -> canny
        jsfeat.imgproc.grayscale(imgData.data, vw, vh, img_u8);
        // TODO: Variables for magic numbers
        jsfeat.imgproc.gaussian_blur(img_u8, img_u8, KERNEL, 0);
        jsfeat.imgproc.canny(img_u8, img_u8, LOW_THRES, HIGH_THRES);

        // Render back result
        var data_u32 = new Uint32Array(imgData.data.buffer);
        var alpha = (0xFF << 24);
        var i = img_u8.cols * img_u8.rows;
        var pix = 0;

        while (--i >= 0) {
            pix = img_u8.data[i];
            data_u32[i] = alpha | (pix << 16) | (pix << 8) | pix;
        }

        ctx.putImageData(imgData, 0, 0);
    }

    // Event handlers
    switchElement.addEventListener('click', switchSource, false);
};
    </script>
</head>
<body>
    <div id="container">
        <canvas id="c"></canvas>
{#        <video muted autoplay></video>#}
    </div>
    <br>
    <div class="buttons">
        <button id="switch">Switch Camera</button>
        <button id="capture">Take Capture</button>
    </div>
</body>
</html>